.container {
  display: flex;
  font-family: "Playfair Display";
  flex-direction: row;
  max-height: 720px;
  min-height: 500px;

}


.sidebar {
  flex: 1;
  background-color: #f5f5f5;
  padding: 20px;

}

.topSideBar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: white;
  height: 56px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.topSideBar2 {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.backButton {
  margin-left: 8px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #1e1e1e;
  letter-spacing: 2px;
  margin-left: 13px;
  margin-bottom: 2px;
}

.kitchenTitle {
  font-size: 18px;
  letter-spacing: .5px;
  margin-left: 3px;
  font-weight: 500;
  color: #1e1e1e;
}

.orderCount {
  margin-left: auto;
  font-size: 14px;
  margin-right: 8px;
  font-weight: 500;

}

.acceptButton{
  background-color: white;
  color: green;
  border: none;
  padding: 8px 12px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-left: auto;
  margin-right: 8px;
  font-family: "Open Sans", sans-serif;
}

.acceptButton:hover{
  color: white;
  background-color: green;
}

.closedButton{
  background-color: white;
  color: red;
  border: none;
  padding: 8px 12px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-left: auto;
  margin-right: 8px;
  font-family: "Open Sans", sans-serif;
}

.closedButton:hover{
  color: white;
  background-color: red;
}


.orderList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  max-height: 600px;
  overflow-y: auto;
}

.order {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
}

.order:hover {
  background-color: #f2f2f2;
}

.selected {
  background-color: #e6e6e6;
  border-left: 10px solid  #007bff;
}

.customer {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.firstLetter{
  text-transform: uppercase;
}

.orderId {
  font-size: 14px;
  color: #777;
  margin-top: 0px;
  margin-bottom: -18px;
}

.orderPicking{
  font-size: 14px;
  color: #777;
  /* margin-top: -12px; */
  margin-bottom: 0px;
}

.orderTime{
  font-size: 14px;
  color: #777;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
  margin-left: auto;
}

.cart {
  flex: 2;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.cartTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #1e1e1e;
  letter-spacing: 2px;
  margin-left: 13px;
  margin-bottom: 12px;
  
}

.cartItems {
  overflow-y: auto;
  max-height: 450px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}

.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}

.th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.thTitle {
  font-weight: bold;
}

.thMain {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.cartItem {
  background-color: #fff;
}

.cartItem:nth-child(even) {
  background-color: white;
}

.cartFooter {
  margin-top: 20px;
  text-align: center;
}

.navbarButton {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  bottom: 0;
}


.navbarButton:hover {
  background-color: #0056b3;
}

.orderDetails{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.details{
  margin-right: 50px;
  font-weight: 500;
}

.header{
  font-weight: bold;
  margin-right: 5px;
}

.question{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 20px;
}

.phones{
  margin-right: 5px;
}

.FaBars:hover {
  transform: scale(1.2);
}

.FaBars:focus {
  outline: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container {
    /* Adjust styles for iPads */
    /* Example styles for iPads */
    flex-direction: column;
    max-height: none;
    min-height: auto;
  }

  .sidebar {
    /* Adjust styles for sidebar on iPads */
    /* Example styles for iPads */
    padding: 10px;
  }

  .topSideBar {
    /* Adjust styles for top sidebar on iPads */
    /* Example styles for iPads */
    height: 40px;
    margin-bottom: 5px;
  }

  .backButton {
    /* Example styles for iPads */
    margin-left: 4px;
  }

  .title {
    /* Example styles for iPads */
    font-size: 18px;
    margin-left: 8px;
  }

  /* Add more styles specific to iPads as needed */
}
