.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
  }
  
  .card {
    margin-top: -100px;
    width: 450px;
    height: 340px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0.1px rgba(70, 70, 70, 0.4);
    background-color: #ffffff;
    text-align: center;
  }



  .card h1{

    font-size: 15px;

  
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  
    text-transform: uppercase;
  
    letter-spacing: 4px;
    /* Adds 2 pixels of space between letters */
    color: #007BFF;

    display: flex;
    justify-content: center;

  }

  .card h2{
    margin-bottom: 6px;
    color: #333333;
    font-size: 14px;
    font-weight: bolder;
    /* Updated text color */
    margin-left: 4px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
  }
  
  .input {
    width: 100%;
    padding: 1.1em 1em;
    
    margin: 10px 0;
    /* Reduced padding on the left side to left-align the text */
    text-align: left;
    border-radius: 8px;
    border: 2px solid #ccc;
    box-shadow: 0 2px 4px rgba(11, 100, 72, 0.1);
    transition: all 0.2s ease-in-out;
    outline-color: lightblue;

  }

  .input::placeholder {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    letter-spacing: 3px;
    font-size: 17px;
    /* Adds 2 pixels of space between letters */
  }
  
  .button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    filter: grayscale(0%) contrast(130%) brightness(110%);
    background-color: #007bff;
    color: #fff;
    border: #ffffff;
    border-radius: 9px;

    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }


   
  .backButton:hover,.button:hover{
    /* Add hover styles for 
    s */
    filter: grayscale(0%) contrast(150%) brightness(110%); /* Adjust the values as desired */
    transform: scale(1.1); /* Add a scale effect on hover */
  }
  
  .backButton {
    width: 100%;
    padding: 15px;
    color: #fff;
  border: #007bff;
  transition: all 0.3s ease-in-out;
  filter: grayscale(0%) contrast(130%) brightness(110%);
  background-color: #403c3c;
  text-transform: uppercase;
  border-radius: 9px;

  font-weight: bold;
  cursor: pointer;
  }
  