

.container {
  height: 70px;
  padding: 0 50px;
  background-color: #09317d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: 'Montserrat';
  opacity: 1;
}

.bars{
  filter: grayscale(0%) contrast(130%) brightness(110%);


  color: #007bff;
}



.iconn{
  background-color: #09acf2;
  border-radius: 100%;
}

.container {
  color: red;
}

  
.container a:hover {
  color: #FF1744;
}

.Loginbutton:hover{
  /* Add hover styles for 
  s */
  filter: grayscale(0%) contrast(150%) brightness(150%); /* Adjust the values as desired */
  transform: scale(1.1); /* Add a scale effect on hover */
}
.signUpButton:hover {
  /* Add hover styles for buttons */
  filter: grayscale(0%) contrast(150%) brightness(150%); /* Adjust the values as desired */
  transform: scale(1.1); /* Add a scale effect on hover */
}

.container a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  
}
.Loginbutton{

  filter: grayscale(0%) contrast(130%) brightness(110%);
  background-color: #ca1035;

  width: 90px;
  height: 40px;
  color: #fff;
  border: #007bff;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;

  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.signUpButton{

  filter: grayscale(0%) contrast(130%) brightness(110%);
  background-color: #007bff;

  width: 90px;
  height: 40px;
  color: #fff;
  border: #ffffff;
  border-radius: 5px;
  margin-left: 6px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}



.menuTitle{
  color: black;
  margin-top: 50px;
  font-weight: 200px;
}

.list.show {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.listItem {
  margin: 10px 0;
}


.logo:hover {
  transform: scale(1.1);
}

.item1 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:nth-child(2) {
  flex: 3;
}

.item:last-child {
  justify-content: flex-end;
}

.callbutton {
  padding: 10px;
  width: 50px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.texts {
  margin-left: 20px;
  color: black;
}

.texts:first-child {
  font-size: 12px;
  font-weight: 500;
}

.texts:last-child {
  font-size: 20px;
  font-weight: bold;
}

.cart {
  position: relative;
  color: black;
}

.counter {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  padding: 3px;
  display: none;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: red;
}

.cartSeparator {
  margin: 0 10px; /* or adjust the margin as needed */
  color: black; /* or any other color you want */
  opacity: .2;
  display: none;
}

.show {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: black;
  margin-top: 100px;
}
.LoginLink{
  color: black;
  margin-right: 20px;
}
   
.menuButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  margin-left: 20px;
  margin-top: -20px;
}

.menuButton svg {
  font-size: 2em; /* Adjust the size as needed */
}

.dropdownContainer {
  position: relative;
  display: inline-block;
}
.head {

   margin-top: -20px;
   margin-bottom: 5px;
   
   font-size: 14px;
   letter-spacing: 2px;
   /* Adds 2 pixels of space between letters */
   text-align: center;
   color: white;
}
.dropdownMenu {
  position: absolute;
  top: 120%;
  height: 550%;
  left: -80%;
  z-index: 10;
  display: none;
  padding: 30px;
  padding-left: 8px;
  border-radius: 8px;

  padding-right: 4px;
  background-color: #09317d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

 .dropdownMenu {
  display: block;
}



.handIcon{
  margin-left: 5px;
}

.dropDownTitle1{
  margin-top: -4px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  color: white;

  text-align: center;
  letter-spacing: 1px;
  font-size: .9.2rem;
  /* increase font size /
letter-spacing: 1px; / add letter spacing /
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); / add subtle text shadow */
}


.Title{
  display: flex;
  justify-content: center;
  margin-top: -10px;
  align-items: center;
  color: #0066CC;
  margin-bottom: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.3rem;
  /* increase font size /
letter-spacing: 1px; / add letter spacing /
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); / add subtle text shadow */
}


.dropDownTitle3{
  font-size: 12px;


  font-family: "Open Sans", sans-serif;
  font-weight: bold;

  text-transform: uppercase;
  color: #1e1e1e;
  margin-bottom: 10px;
  margin-left: 5px;

  letter-spacing: 4px;
  /* Adds 2 pixelmas of space between letters */
margin-top: 20px;
  display: flex;
  color: #007BFF
    /* Add this line to set the placeholder text color to red */

    
}
.line {
  height: 2px;
  width: 105%; /* Adjusted width value */
  background-color: #d4d4d4;
  margin-bottom: 20px;
  margin-left: -8px;
  margin-top: 20px;
}

.line2{
  height: 2px;
  width: 105%; /* Adjusted width value */
  background-color: #d4d4d4;
  margin-bottom: 20px;
  margin-left: -8px;
  margin-top: 20px;

  }
.line3{
    height: 2px;
    width: 220px;
    background-color: transparent; /* Updated background-color value */
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: -30px;
  }
  

  

  
  .dropdownContainer a {
    margin-bottom: 6px;
    color: white;
    /* Updated text color */
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-left:4px;
    font-weight:bold;
    letter-spacing: 2px;
    text-decoration: none; /* Remove the default underline */
    
  }
  
  .dropdownContainer a:hover {
    text-decoration: underline; /* Add underline on hover */
    color: #ff0000;
  }
  

  

  

.divder{

  margin-top: 8px;
}

.userButton {
  color: black; /* White text color */
  background-color: #09317d; /* Primary color */
  border: none; /* Remove default border */
  border-radius: 4px; /* Add rounded corners */
  padding: 10px 20px; /* Add some padding */
  font-size: 16px; /* Increase the font size */
  text-transform: uppercase; /* Convert text to uppercase */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: background-color 0.3s ease; /* Add smooth transition */
}

.Icon{
  height: 14px;
  width: 14px;

  vertical-align: text-bottom;
}



    
    
    @media (min-width: 767px) {
      .list.show {
        flex-direction: row;
      }

      .container{
        padding: 0px;
      }

  

      .userButton {
 margin-left: 90px;
 margin-right: 15px;
      }
      
    
      .list {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
      }


      .listItem {
        margin: 0 10px;
      }

      .listItem {
        font-size: 18px;
    font-weight: bold;
    font-family: "Arial";
      }
      
      .menuButton{
        display: none;
      }
      .menuTitle{
        display: none;
      }
      .listItem img {
      display: none;
      }
      .faIcon{
        display: none;
      }

.item1{
  margin-left: 0px;
}
      .ButtonContainer{
        margin-left: 00px;
      }


      .Loginbutton{

margin-right: 0px;  
margin-right: 0px;
margin-left: 50px;

      }
      .signUpButton{
      margin-right: 40px;
      }
      

    }

    @media (max-width: 766px){
      
      .item1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 455px;
      }
      

      .ButtonContainer{
        display: flex;
        margin-right: -40px;
      }
    


      .Loginbutton{

 
      
        width: 55%;
        height: 40px;
        display: none;
      
      }
      .signUpButton{
        width: 80px;
        height: 40px;
        margin-right: -25px;

      }
      


    
      .list {
        padding: 0;
        display: none;
       
        margin: 0;
      }

      .item1{
        display: flex;
        align-items: center;
        justify-self: center;
     
      }
      
      


    
.iconn{
  display: none;
}

      .listItem {
        padding: 0px;
        margin: 0 1rem;
        display: inline-block;
        margin: 20px;
        font-weight: 500;
        position: relative;
        font-weight: bold;
        color: black;
        border: 1px solid #ccc;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        padding: 20px;
        transition: all 0.3s ease-in-out;
        font-size: 25px;
        margin-top: 40px;
        width: 200px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .listItem:hover {
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        transform: translate(-2px, -2px);
      }
      
      .listItem img {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        margin-left: -10px;
      }
      .listItem:first-child {
        color: white;
      }
    }
    
    
    